.album.py-5.bg-light
  .container
    .row
      - @videos.each do |video|
        .col-md-4
          .card.mb-4.box-shadow
            = image_tag video.thumbnail.url, alt: 'Card image cap', width: 348, height: 196, class: 'card-img-top'
            .card-body
              %p.card-text 
                = video.title
              .d-flex.justify-content-between.align-items-center
                = link_to video_path(video.id) do
                  .btn-group
                    %button.btn.btn-sm.btn-outline-secondary{type: "button"} Details
                %small.text-muted
                  = "#{video.duration_in_minutes} mins"
    = paginate @videos